body{
  background-color: white;
  color: black;
}

.team{
  color: white;
  text-align: left;
  font-family: 'Arial'; 
   font-size: 100px;
  border-style: solid; width:435px;
 border-radius: 15px;
  background-color: black;
}
.intro{
  text-align: center;
}
.hoc{
  text-align: center;
  font-family: 'Lato', sans-serif; 
  font-size: 65px;
  border-style: solid;
 border-radius: 15px;
}
p{
  font-family: 'Monaco';
  font-size: 25px;

}
.img{
  width: 100%;
  height: 600px;
  margin-bottom: 25px;
}




.img1{
  width: 200px;
  height: 200px;
 border-style: solid; 
 border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.nrgz{
  font-size: 45px;
  font-family: 'Monaco';
  border-style: solid; width:435px;
 border-radius: 15px;
 
}

.nrgztxt{
  text-align: left;
  
}




.img2{
  width: 200px;
  height: 200px;
 border-style: solid; 
 border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.alii{
  font-size: 45px;
  font-family: 'Monaco';
  border-style: solid; 
 border-radius: 15px;
  text-align: left;
margin-left: 800px;
}

.aliitxt{
  text-align: right;
}



.img3{
  width: 200px;
  height: 200px;
 border-style: solid; 
 border-radius: 15px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.mrd{
  font-size: 45px;
  font-family: 'Monaco';
  border-style: solid; width:435px;
 border-radius: 15px;
 
}

.mrdtxt{
  text-align: left;
  
}


.img4{
  width: 200px;
  height: 200px;
 border-style: solid; 
 border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.rsll{
  font-size: 45px;
  font-family: 'Monaco';
  border-style: solid; 
 border-radius: 15px;
  text-align: left;
margin-left: 800px;
}

.rslltxt{
  text-align: right;
}

.find{
  color: white;
  text-align: left;
  font-family: 'Arial'; 
   font-size: 125px;
  border-style: solid; 
 border-radius: 15px;
  background-color: black;
}





.membs{
  color: white;
  background-color: black;
  text-align: center;
 font-family: 'Lato', sans-serif;
  border-style: solid;
 border-radius: 15px;
  
}



.shorti{
  text-align: center;
  
  font-size: 45px;
  border-bottom: solid;
  border-style: solid; width: 100;
  border-radius: 15px;
  background-color: black;
  background-align: center;
  color: white;
 font-family: 'Lato', sans-serif;
}
.linee {
  height: 3px;
  background: black;
}
  .lineee {
  height: 1px;
  background: black;
}
.info{
  width: 100%;
   height: 300px;
  overflow: scroll;
  background-color: #F8F8F8;	
   
}







.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}




@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:55px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:30px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
